@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}




@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    @apply bg-neutral-200;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-neutral-200;
  }

  .dark {
    ::-webkit-scrollbar {
      @apply bg-neutral-900;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-neutral-800;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-neutral-900;
    }
  }

  html {
    font-size: 16px;
    /* default size */
  }

  body {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* hide-scrollbar.css */
  .custom-no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-no-scrollbar {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
  }

}